<!-- jQuery -->
  <script src="assets/javascript/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="assets/javascript/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/javascript/jquery.easing.min.js"></script>
  <script src="assets/javascript/jquery.fittext.js"></script>
  <script src="assets/javascript/wow.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="assets/javascript/creative.js"></script>

  <script src="assets/javascript/modernizr.js"></script> <!-- Modernizr -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="assets/javascript/main.js"></script> <!-- Resource jQuery -->
